.driver {
    width: 220px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 0 0 rgba(0,0,0,0.75);
    position: relative;
}

.driver h2 {
    margin: 5px 0;
    text-align: center;
}

.driver--photo {
    width: 100%;
    height: 250px;
    margin: auto;
    position: relative;
    background: #7a9f95 url("/img/user-pic.png") no-repeat center;
    background-size: contain;
}

.driver--favorite {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 36px;
    line-height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.driver--favorite__favorite {
    color: #ee6550;
    opacity: 1;
}

.driver--trophy {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -10px;
    left: -32px;
    background: url("/img/trophy.png") no-repeat center;
    z-index: 2;
}

.driver--info {
    padding: 10px;
}

.driver--info > * {
    margin: 10px 0;
}

.driver--nationality strong,
.driver--date-of-birth strong {
    font-weight: bold;
}

.driver--nationality span,
.driver--date-of-birth span {
    float: right;
}