.season-list {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.season-list li {
    width: 220px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 36px;
    line-height: 58px;
    background-color: #fff;
    box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.75);
}