.app-nav {
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
    display: flex;
}

.app-nav--btn {
    flex-grow: 0;
}

.app-nav--title {
    flex-grow: 1;
    margin: 0;
    text-align: center;
}